/* --- Variable CSS --- */
:root {
  --bgColor: #6563ff;
  --bgWrapper: #f8f8f8;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  display: flex;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: var(--bgColor);
}

/* Card Area + cards */
.wrapper {
  background-color: var(--bgWrapper);
  border-radius: 10px;
  padding: 25px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

.ul {
  padding-left: 0px;
}

.cards,
.card,
.view {
  display: flex;
  align-items: center;
  justify-content: center;
}
.cards {
  height: 400px;
  width: 400px;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0px;
  padding: 0px;
}
.cards .card {
  cursor: pointer;
  list-style: none;
  user-select: none;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  height: calc(100% / 4 - 10px);
  transform-style: preserve-3d;
  width: calc(100% / 4 - 10px);
}

.card .view {
  width: 100%;
  height: 100%;
  position: absolute;
  border-radius: 7px;
  background-color: #fff;
  pointer-events: none;
  backface-visibility: hidden;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.102);
  transition: transform 0.25s linear;
}
.card .front-view img {
  width: 100%;
  height: 100%;
  border: 1px solid #000;
}
.card .back-view img {
  max-width: 45px;
}
.card .back-view {
  transform: rotateY(-180deg);
}

/* Used in Logic */
.card.flip .back-view {
  transform: rotateY(0);
}
.card.flip .front-view {
  transform: rotateY(180deg);
}

/* Animation */
.card.shake {
  animation: shake 0.35s ease-in-out;
}
@keyframes shake {
  0%,
  100% {
    transform: translateX(0);
  }
  20% {
    transform: translateX(-13px);
  }
  40% {
    transform: translateX(13px);
  }
  60% {
    transform: translateX(-8px);
  }
  80% {
    transform: translateX(8px);
  }
}

/* --- Responsive Media Queries --- */
@media screen and (max-width: 768px) {
  .cards {
    height: 350px;
    width: 366px;
  }
  .card .front-view img {
    width: 100%;
  }
  .card .back-view img {
    max-width: 35px;
  }
}

@media screen and (max-width: 425px) {
  .cards {
    height: 300px;
    width: 316px;
  }
  .card .front-view img {
    width: 100%;
  }
  .card .back-view img {
    max-width: 35px;
  }
}
@media screen and (max-width: 320px) {
  .cards {
    height: 250px;
    width: 266px;
  }
  .card .front-view img {
    width: 100%;
  }
}
